*{
    margin: 0;
    padding: 0;
    color: #EAEAEA;
}

@font-face {
    font-family: 'DMC5';
    src: url('/public/fonts/DMC5Font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futhark';
    src: url('/public/fonts/RUNE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Apply fixed background image */
body {
    background-image: url('/public/assets/background.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire page */
    background-repeat: no-repeat; /* Prevents tiling */
    background-attachment: fixed; /* Makes the background fixed during scrolling */
    background-position: center; /* Centers the image */
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

.logo{
    display: flex;
    font-size: 32px;
    font-weight: bold;
    font-family: DMC5;
    cursor: pointer;
}

.navbar img {
    height: 80px;
    max-height: 100%;
    padding-left: 5%;
    padding-right: 20px;
}

.navbar ul{
    display: flex;
    list-style: none;
    padding-right: 5%;
}

.navbar ul li{
    margin-left: 20px;
    font-size: 16px;
    color: #EAEAEA;
    cursor: pointer;
    transition: color 0.3s;
}

.navbar ul li:hover {
    color: #FFD700;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: #FFD700;
}

.content-box {
    width: 80%;
    margin: 50px auto;
    background-color: rgba(28, 28, 31, 0.8); /* Semi-transparent background */
    border-radius: 15px; /* Rounded corners */
    padding: 20px;
    box-shadow: 0 4px 15px #FFD700; /* Shadow for a 3D effect */
    color: #EAEAEA;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-box h1{
    font-family: futhark;
    font-size: 55px ;
    color:black;
    text-shadow: 0 4px 4px #FFD700;   
}

.content-box h2 {
    font-family: DMC5;   
    font-size: 30px;
}
.content-box h3 {
    font-family: DMC5;  
    font-size: 30px;
}

.images img {
    width: 20%;
    margin: 20px;
    filter: grayscale(100%); /* Makes the image black and white */
    transition: filter 0.3s ease-in-out; /* Smooth transition for hover effect */
    cursor: pointer;
}

.images img:hover {
    filter: grayscale(0%); /* Restores the original color on hover */
    cursor: pointer;
}

.quote-img {
    width: 60%;
    cursor: pointer;
}

.quote {
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
    font-family: DMC5;
}

.quote h6 {
    font-family: DMC5;
    font-size: 50px;
    color: #FFD700;
    text-align: center;
}

.space {
    margin: 20px;
}

.fading-line {
    height: 2px; /* Thickness of the line */
    background: linear-gradient(to right, transparent, #FFD700, transparent); /* Fades at edges */
    margin: 20px auto; /* Centers the line with some spacing */
    width: 80%; /* Adjusts the line width */
}

.gallery-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
    /* margin: auto; */
}

.gallery-images img {
    width:  auto;
    height: auto;
    max-height: 400px;
    object-fit: cover;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.gallery-images img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.8);
}
